@import url("https://glitchpop-css.herokuapp.com/library/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bungee&family=Cinzel+Decorative:wght@400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BFDBFE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
